.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.positai
.Rproj.user/

# DiPPER specific ignores
data-raw/
inst/stan/*.exe
inst/stan/*.rds
inst/stan/*.o
inst/stan/*.hpp
.Rproj.user
.Rproj.user
inst/doc
src/stan/*.exe
src/stan/*.o
bin/stan/
DiPPER.BiocCheck/
